@model Projekt_NET.Models.District

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>District</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Bounding Points
        </dt>
        <dd class="col-sm-10">
            <ul>
                <li>
                    <span>Lat: @Html.DisplayFor(model => model.BoundingPoints[0].Latitude), Long: @Html.DisplayFor(model => model.BoundingPoints[0].Longitude)</span>
                </li>
                <li>
                    <span>Lat: @Html.DisplayFor(model => model.BoundingPoints[1].Latitude), Long: @Html.DisplayFor(model => model.BoundingPoints[1].Longitude)</span>
                </li>
                <li>
                    <span>Lat: @Html.DisplayFor(model => model.BoundingPoints[2].Latitude), Long: @Html.DisplayFor(model => model.BoundingPoints[2].Longitude)</span>
                </li>
                <li>
                    <span>Lat: @Html.DisplayFor(model => model.BoundingPoints[3].Latitude), Long: @Html.DisplayFor(model => model.BoundingPoints[3].Longitude)</span>
                </li>
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DistrictId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
