@model IEnumerable<Projekt_NET.Models.District>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <ul>
                        <li>Lat: @item.BoundingPoints[0].Latitude, Long: @item.BoundingPoints[0].Longitude</li>
                        <li>Lat: @item.BoundingPoints[1].Latitude, Long: @item.BoundingPoints[1].Longitude</li>
                    </ul>
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DistrictId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DistrictId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DistrictId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
