@model Projekt_NET.Models.Drone

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallSign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallSign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordX)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.CoordX)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoordY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.CoordY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Range)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Range)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DroneCloud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DroneCloud.DroneCloudId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DroneId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
